@mixin flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-space-btw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@mixin thin-scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: #faf5fe transparent;
  &::-webkit-scrollbar {
    height: 1px;
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #faf5fe;
    border-radius: 10px;
    height: 1px;
  }
}
