Testing ground for CRUD operations inside Supabase <br>

I loop through the surveys array with a for loop

@for (survey of testSurveyVariable.surveys(); track survey.id) {
  <h1>{{ survey.title }}</h1>
  <p>{{survey.description}}</p>
}
<br> <br>

TEST for fetching one singe survey data

@if (testSurveyVariable.singleSurvey(); as survey) {
  <h1>{{ survey.title }}</h1>
  <p>{{ survey.description }}</p>
  <p>{{testQuestionVariable.questions()[0]?.text}}</p>
  <p>{{testOptionVariable.options()[0]?.text}}</p>
  <p>{{testOptionVariable.options()[1]?.text}}</p>
  <p>This is the option id for a vote: {{testVoteVariable.votes()[0]?.question_id}}</p>

}


<router-outlet />
