@import '../../../styles/abstracts/mixins';

.create-survey__badge {
  width: 80px;
  color: var(--color-purple-dark);
  font-weight: 700;
}

.create-survey__header {
  @include flex-space-btw;
  margin: 20px 0;

  h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-h2);
    color: var(--color-orange-primary);
  }
}

.create-survey__main {
  background-color: var(--color-purple-dark);
  color: var(--color-bg-card-dropdown);
  padding: 20px 40px;
  border-radius: 0 70px 0 0;
  height: 80vh;
}

.create-survey__body {
  background-color: var(--color-purple-light);
  border-radius: 0 70px 0 0;
  padding: 20px 40px;
  height: 50vh;
  @include flex-column-space-btw;
  justify-content: unset;
  gap: 40px;
  font-family: var(--font-text-bold);

  label {
    margin-bottom: 8px;
  }
}

.create-survey__upper {
  @include flex-space-btw;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px;
  }
}

.create-survey__left {
  @include flex-column-space-btw;
  gap: 20px;
}

.create-survey__field {
  @include flex-column-space-btw;
}

.create-survey__input-row {
  @include flex-space-btw;
  justify-content: unset;
  gap: 8px;
}

.create-survey__row {
  @include flex-space-btw;
}

.create-survey__right {
  app-delete-btn {
    align-self: flex-start;
  }
}

// .create-survey__field-header {
//   @include flex-space-btw;
//here I need to set 2 columns for the future question!!
// }
