<div class="container">
  <header class="survey-details-header">
    <nav>
      <img [routerLink]="['/']" src="/assets/images/ui/logo_dark.svg" alt="the logo of the app" />
      <button (click)="openCreateSurveyModal()" class="btn btn--primary btn--icon-plus">
        Create survey
      </button>
    </nav>
  </header>
  <app-dialog [(open)]="isCreateSurveyOpen">
    <app-survey-create-page (close)="isCreateSurveyOpen = false"></app-survey-create-page>
  </app-dialog>
  <main class="survey-details-page">
    <!-- LEFT: SURVEY DETAILS -->
    <section class="survey-details__survey card-primary-sd">
      <app-survey-detail [isPastSurvey]="isPastSurvey"></app-survey-detail>
      <button
        (click)="completeSurvey()"
        class="survey-details__btn btn btn--primary"
        [disabled]="isPastSurvey"
      >
        Complete survey
      </button>
    </section>
    <!-- RIGHT: DISPLAY VOTES -->
    <section class="survey-details__votes">
      <h2>Survey results <span>live</span></h2>
      <div class="survey-details__votes-container">
        @if (!hasVotes()) {
          <div class="survey-details__placeholder">
            <p>Results will be shown here after participants complete the survey.</p>
            <p>There are no answers yet.</p>
          </div>
        }
        @if (hasVotes()) {
          @for (q of questions(); track q.id) {
            <div class="survey-details__live-results">
              <app-vote-results
                [question]="q"
                [options]="optionsForQuestion(q.id)"
                [votes]="votesForQuestion(q.id)"
              >
              </app-vote-results>
            </div>
          }
        }
      </div>
    </section>
  </main>
</div>
