@import '../../../styles/abstracts/mixins';

.survey-details-header {
    margin-bottom: 40px;
  nav {
    @include flex-space-btw;
  }

  img {
    cursor: pointer;
  }
}

.survey-details-page {
    @include flex-space-btw;
    gap: 40px;
}

.survey-details__survey {
    flex: 2;
}

.survey-details__votes {
    flex: 1;
}

.survey-details__btn {
  justify-self: flex-end;
  margin-top: 40px;
}